html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
	margin-top: 12px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

footer .container-fluid > * {
	margin: 20px 0;
}

.progress-bar {
	-webkit-transition: none;
	-o-transition: none;
	-moz-transition: none;
	transition: none;
}

.progress-bar-overflow {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.progress-hacking {
	margin-bottom: 0;
}

.progress-bar-firewall-backing {
	background-color: #bbbbdd;
}

.progress-bar-firewall {
	background-color: #337ab7;
}

.progress-bar-antivirus-backing {
	background-color: #bbddbb;
}

.progress-bar-antivirus {
	background-color: #5cb85c;
}

.progress-bar-password-backing {
	background-color: #ddddbb;
}

.progress-bar-password {
	background-color: #f0ad4e;
}

.progress-bar-transfer-backing {
	background-color: #ddbbbb;
}

.progress-bar-transfer {
	background-color: #d9534f;
}

.btn-group-unbreakable {
	display: flex;
}

.empty-table-message {
	text-align: center;
}

#main-panel > * {
	margin-bottom: 10px;
}